menuconfig APP_UI
  bool "UI config"
  default y

if APP_UI

config APP_UI_SUB_QUEUE_SIZE
  int "UI subscriber queue size"
  default 4

config APP_UI_THREAD_STACK_SIZE
  int "UI thread stack size"
  default 4096

config APP_UI_THREAD_PRIORITY
  int "UI thread priority"
  default 5

menuconfig APP_UI_LED
  bool "LED"
  default y

if APP_UI_LED

choice
  prompt "Pattern"
  default APP_UI_LED_STATIC

config APP_UI_LED_STATIC
  bool "Static"

config APP_UI_LED_MOSAIC
  bool "Mosaic"

endchoice # APP_UI_LED

config APP_UI_STATIC_LED_ACTIVE_COLOR
  hex "Color for active LED (uint32)"
  default 0x770737

config APP_UI_STATIC_LED_INACTIVE_COLOR
  hex "Color for inactive LED (uint32)"
  default 0x070e77

config APP_UI_LED_BRIGHTNESS
  hex "LED brightness from 0 to 100"
  default 10

endif # APP_UI_LED

endif # APP_UI
